<nz-layout>
  <nz-header nzTheme="light">
    <div class="logo ps-3 fw-bold ">
      <img src="../assets/image/ailogo.png" width="35" alt="" srcset="">
      <span class="ps-xl-3 ps-2">AGA INSTITUTE</span>
    </div>
    <ul nz-menu nzTheme="light" nzMode="horizontal" class="header-menu header-one">
      @if (!isCollapsed) {
      <li><i (click)="isCollapsed = !isCollapsed" class="bi bi-justify fs-3 "></i> </li>
      }
      @else {<li><i (click)="isCollapsed = !isCollapsed" class="bi bi-justify-left fs-3 "></i></li>}


    </ul>

    <ul nz-menu nzTheme="light" nzMode="horizontal" class="header-menu header-two">
      @if (!isSmallCollapsed) {
      <li><i (click)="isSmallCollapsed = !isSmallCollapsed" class="bi bi-justify fs-3 "></i> </li>
      }
      @else {<li><i (click)="this.isSmallCollapsed = !this.isSmallCollapsed" class="bi bi-justify-left fs-3 "></i></li>}


    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider [nzCollapsedWidth]="0" nzBreakpoint="md" nzWidth="240px" nzTheme="light" nzCollapsible
      [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">

      <ul nz-menu nzMode="inline" class="sider-menu" [ngClass]="{'small-open':isSmallCollapsed}">
        <li nz-submenu nzTitle="Booke 1">
          <ul>


            <li nz-menu-item *ngFor="let item of bookOne; let i = index" (click)="onClick(item)"><i
                class="bi bi-volume-up pe-2"></i>Audio {{i+1}}
            </li>


          </ul>
        </li>
        <li nz-submenu nzTitle="Booke 2">
          <ul>
            <li nz-menu-item *ngFor="let item of bookTwo; let i = index" (click)="onClick(item)"><i
                class="bi bi-volume-up pe-2"></i>Audio {{i+1}}
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Booke 3">
          <ul>
            <li nz-menu-item *ngFor="let item of bookThree; let i = index" (click)="onClick(item)"><i
                class="bi bi-volume-up pe-2"></i>Audio {{i+1}}
            </li>
          </ul>
        </li>
      </ul>

    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>{{audio?.book}}</nz-breadcrumb-item>
        <nz-breadcrumb-item>{{audio?.audioName}}</nz-breadcrumb-item>

      </nz-breadcrumb>
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>